<ion-view>
    <div class="bar bar-subheader">
        <h2 class="title">Đăng kí thông tin</h2>
    </div>
    <ion-content ng-controller="stepOneCtrl" class="has-header has-subheader">
        <form name="myForm" novalidate>
            <div class="list">
                <label class="item item-input item-stacked-label">
                <span class="input-label">Họ và tên đệm:</span>
                <input type="text" name="LastName" ng-model="LastName" placeholder="Họ và tên đệm" ng-required="true" ng-maxlength="50"/>
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">Tên:</span>
                <input type="text" name="FirstName" ng-required="true" ng-maxlength="50" ng-model="FirstName" placeholder="Tên"/>
            </label>
                <label class="item item-input item-select">
                <div class="input-label">Chức vụ:</div>           
                <select>
                    <option ng-repeat="position in positions" value="{{position.Id}}">{{position.Name}}</option>
                </select>
             </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">CMND/Passport:</span>
                <input type="text" name="IdentityId" ng-model="IdentityId" placeholder="385537271" ng-required="true" ng-maxlength="12" validator="checkcmnd(myForm.IdentityId)"
                invalid-message = "'CMND phải có 9 số'" strongSecret/>
            </label>
                <label class="item item-input item-stacked-label" ion-datetime-picker date ng-model='IdIssuedDate'>
                <span class="input-label">Ngày cấp:</span>
                <p class="date">{{IdIssuedDate| date: "dd-MM-yyyy"}}</p>
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">Nơi cấp:</span>
                <input type="text" name="IdIssuedBy" ng-model="IdIssuedBy" placeholder="CA.Huyện" ng-required="true" ng-maxlength="250"/>
            </label>
                <label class="item item-input item-stacked-label" ion-datetime-picker date ng-model='DOB'>
                <span class="input-label">Ngày sinh:</span>
                <p class="date">{{DOB| date: "dd-MM-yyyy"}}</p>
            </label>

                <label class="item item-input item-stacked-label">
                <span class="input-label">Đơn vị công tác:</span>
                <input  ion-autocomplete type="text" placeholder="Nhập vào tên đơn vị công tác" 
                    readonly="readonly" class="ion-autocomplete" autocomplete="off" 
                    max-selected-items="1" 
                    ng-model="school" 
                    name="school"
                    items-method="getTestItems(query)"
                    item-value-key="id"
                    item-view-value-key="name"
                    items-clicked-method="itemsClicked(callback)"
                    items-removed-method="itemsRemoved(callback)"
                    ng-required="true"/>
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">Thu nhập:</span>
                <input type="text" ng-model="Income" placeholder="5 000 000"/>
            </label>
            </div>
            <div class="padding">
                <p ng-show="myForm.LastName.$error.required">* Họ và tên lót không được để trống</p>
                <p ng-show="myForm.LastName.$error.maxlength">* Họ và tên lót có tối đa 50 ký tự</p>
                <p ng-show="myForm.FirstName.$error.required">* Tên không được để trống</p>
                <p ng-show="myForm.FirstName.$error.maxlength">* Tên có tối đa 50 ký tự</p>
                <p ng-show="myForm.IdentityId.$error.required">* CMND không được để trống</p>
                <p ng-show="myForm.IdIssuedBy.$error.required">* Nơi cấp không được để trống</p>
                <p ng-show="myForm.IdIssuedBy.$error.maxlength">* Nơi cấp có tối đa 250 ký tự</p>
                <p ng-show="myForm.school.$error.required">* Tên không được để trống</p>
            </div>
            <ul class="error-msgs" ng-messages="myForm.IdentityId.$error">
                <li ng-message="numberValidator">Strong secret has to contain at least 1 number</li>
                <li ng-message="uppercaseValidator">Strong secret has to contain at least 1 uppercase</li>
                <li ng-message="sixCharactersValidator">Strong secret has to exactly 6 characters long</li>
            </ul>
            <div class="col-33 col-offset-33">
                <!--<a href="#/step2" class="button button-block button-chocolate">Tiếp tục</a>-->
                <button class="button button-block button-chocolate" ng-disabled="myForm.$invalid" ng-click="GotoStep2()">Tiếp tục</button>
            </div>
        </form>
    </ion-content>
</ion-view>